<header class="app-header">
    <a class="brand" href="">AllStream</a>
    <input type="checkbox" title="Menu" class="menu-toggle" />
    <nav class="nav-links">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink class="nav-link" href="movies">Movies</NavLink>
        <NavLink class="nav-link" href="tv">TV Series</NavLink>
        <NavLink class="nav-link" href="cdnsports">Live Sports</NavLink>
    </nav>
    <div class="mobile-menu">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Movies</NavLink>
        <NavLink class="nav-link" href="tv">TV Series</NavLink>
        <NavLink class="nav-link" href="cdnsports">Live Sports</NavLink>
    </div>
</header>
