.status-bar-safe-area {
  display: none;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: #0d1424;
  border-radius: 12px;
}

*::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 12px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

*::-webkit-scrollbar-thumb:hover {
  background: #374151;
}

*::-webkit-scrollbar-thumb:active {
  background: #4b5563;
}

@supports (-webkit-touch-callout: none) {
  .status-bar-safe-area {
    display: flex;
    position: sticky;
    top: 0;
    height: env(safe-area-inset-top);
    background-color: #0f172a;
    width: 100%;
    z-index: 1;
  }

  .flex-column,
  .navbar-brand {
    padding-left: env(safe-area-inset-left);
  }
}
