@inherits LayoutComponentBase
@inject IJSRuntime JS

<NavMenu />

<main class="app-main">
    <article class="content container">
        @Body
    </article>
    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href="." class="reload">Reload</a>
        <span class="dismiss">🗙</span>
    </div>
    
</main>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // if (firstRender)
        //     await JS.InvokeVoidAsync("allStreamAdSweep");
    }
}