@inherits LayoutComponentBase
@using AllStream.Shared.Components
<div class="app-shell">
    <NavMenu OnToggleNav="ToggleNav" />

    <main class="app-content" @onclick="CloseNavIfOpen">
        <div class="container-app">
            @Body
        </div>
    </main>

    <MobileNavDrawer Open="@_navOpen" OnClose="CloseNav" />
</div>


@code {
    private bool _navOpen;

    private void ToggleNav() => _navOpen = !_navOpen;
    private void CloseNav() => _navOpen = false;

    private void CloseNavIfOpen()
    {
        if (_navOpen) _navOpen = false;
    }
}